*.bak
src/Release/
jar/
loader.sce
src/cleaner.sce
*.def
*.exp
*.lib
*.mak
*.dll
*.dynlib
*.so
help/en_US/master_help.xml
help/en_US/scilab_en_US_help/
help/fr_FR/master_help.xml
help/fr_FR/scilab_fr_FR_help/
src/liboverload.c
src/overload.c
src/sci_dynlib.h